spring:
  spring:
    config:
      activate:
        on: prod
  datasource:
    url: ${SPRING_DATASOURCE_URL}
    username: ${SPRING_DATASOURCE_USERNAME}
    password: ${SPRING_DATASOURCE_PASSWORD}
  jpa:
    hibernate:
      ddl-auto: validate
    properties:
      hibernate:
        format_sql: true
  flyway:
    enabled: true
    locations: classpath:migration
    schemas: public
    baseline-on-migrate: true
server:
  shutdown: graceful
management:
  endpoints:
    web:
      exposure:
        include: health,info,metrics,threaddump,heapdump
  endpoint:
    health:
      probes:
        enabled: true